body {
  text-align: center;
  color: #9f9f9f;
}

.heading {
  background-color: #9fcbbc;
  color: white;
  padding: 1%;
}

.row-1 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.panel-default > .panel-heading {
  background-color: #9fcbbc;
}

.panel-title, .panel-boolean, .panel-string, .panel-numeric, .panel-null, .panel-undefined {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.panel-body, .panel-body-1, .panel-body-2, .panel-body-3, .panel-body-4, .panel-body-5 {
  display: none;
}
